name: build for staging

on:
  push:
    branches:
      - 'staging'

jobs:
  build-mod:
    runs-on: ubuntu-latest
    env:
      MODKIT_VERSION: 0.11.1.6-beta-release-826
      ECO_BRANCH: staging
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET Core 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Fetch dependencies
      run: dotnet restore ./EcoSmartTaxMod/EcoSmartTaxMod.csproj
      env:
        DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
    - name: Cache Eco dlls
      id: cache-eco-dlls
      uses: actions/cache@v4
      with:
        path: ./eco-dlls
        key: ${{ env.MODKIT_VERSION }}-ref-dlls
    - name: Download Eco dlls
      if: steps.cache-eco-dlls.outputs.cache-hit != 'true'
      run: sh fetch-eco-reference-assemblies.sh
    - name: Build
      run: dotnet build ./EcoSmartTaxMod/EcoSmartTaxMod.csproj --configuration Release --no-restore
      env:
        DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: mod-binaries-staging
        path: EcoSmartTaxMod/bin/Release/net8.0/EcoSmartTaxMod.*
